extends blocks/base.pug

block title 
	title Виджет

block style-libs
	

block content

	// device
	.device
		.wrapper
			.device__head
				h1.device__title Электронные книги PocketBook
				.device__subtitle Купи ридер в фирменном интернет-магазине
			.device__row 	
				.device__sidebar 
					// filter
					.filter
						.filter__btn.js-drop-btn(data-drop="filterDrop")
							span.filter__text1 Фильтр
							span.filter__text2
								span.filter__cross 
								| Закрыть фильтр
						.filter__nav.js-drop#filterDrop
							.filter__block
								.filter__title Параметры
								ul.filter__list 
									li.filter__item
										input#parameter_1(type="checkbox", name="parameters").filter__checkbox
										label(for="parameter_1").filter__checkboxlabel
										label(for="parameter_1").filter__text Цветной экран
									li.filter__item
										input#parameter_2(type="checkbox", name="parameters").filter__checkbox
										label(for="parameter_2").filter__checkboxlabel
										label(for="parameter_2").filter__text Сенсорный экран
									li.filter__item
										input#parameter_3(type="checkbox", name="parameters").filter__checkbox
										label(for="parameter_3").filter__checkboxlabel
										label(for="parameter_3").filter__text Подсветка
									li.filter__item
										input#parameter_4(type="checkbox", name="parameters").filter__checkbox
										label(for="parameter_4").filter__checkboxlabel
										label(for="parameter_4").filter__text Регулировка температуры
									li.filter__item
										input#parameter_5(type="checkbox", name="parameters").filter__checkbox
										label(for="parameter_5").filter__checkboxlabel
										label(for="parameter_5").filter__text 6 дюймов
									li.filter__item
										input#parameter_6(type="checkbox", name="parameters").filter__checkbox
										label(for="parameter_6").filter__checkboxlabel
										label(for="parameter_6").filter__text 7.8 дюймов
									li.filter__item
										input#parameter_7(type="checkbox", name="parameters").filter__checkbox
										label(for="parameter_7").filter__checkboxlabel
										label(for="parameter_7").filter__text 10 дюймов
									li.filter__item
										input#parameter_8(type="checkbox", name="parameters").filter__checkbox
										label(for="parameter_8").filter__checkboxlabel
										label(for="parameter_8").filter__text Wi-Fi
									li.filter__item
										input#parameter_9(type="checkbox", name="parameters").filter__checkbox
										label(for="parameter_9").filter__checkboxlabel
										label(for="parameter_9").filter__text Защита от влаги и пыли
							.filter__block
								.filter__title Цвет
								ul.filter__list 
									li.filter__item
										input#color_1(type="checkbox", name="colors").filter__checkbox
										label(for="color_1").filter__checkboxlabel
										label(for="color_1").filter__text Красный
									li.filter__item
										input#color_2(type="checkbox", name="colors").filter__checkbox
										label(for="color_2").filter__checkboxlabel
										label(for="color_2").filter__text Серый
									li.filter__item
										input#color_3(type="checkbox", name="colors").filter__checkbox
										label(for="color_3").filter__checkboxlabel
										label(for="color_3").filter__text Золотой
									li.filter__item
										input#color_4(type="checkbox", name="colors").filter__checkbox
										label(for="color_4").filter__checkboxlabel
										label(for="color_4").filter__text Серебристый
					//	/filter
				.device__main
					// product
					.product
						.product__row 
							.product__col.product__col--1
								img(src="img/device_1-1.jpg", alt="")
								img(src="img/device_1-2.jpg", alt="")
							.product__col.product__col--2
								.product__content 
									.product__title PocketBook 632 Aqua
									.product__text 
										p Флагманский 6-дюймовый ридер начала 2019 года с защитой от воды по стандарту IPX7
										p PocketBook 632 Aqua – ультракомпактный флагманский ридер с защитой от воды с помощью геля HZO, но без полной герметизации (которая есть в PocketBook 641 Aqua 2). Уровень защиты – IPX7: модель не боится краткосрочных погружений в воду, брызг, струй воды.
									.product__btn купить за 22 990 P
								.product__content 
									.product__subtitle Характеристики
									ul.product__list 
										li 
											span Дисплей
											span 6" E Ink®Carta™ 1448×1072
										li 
											span Оперативная память
											span 512 МБ
										li 
											span Подсветка
											span Да, с регулировкой цветовой температуры
										li 
											span Сенсорный экран
											span Емкостный мультисенсорный
										li 
											span Габариты
											span 108×161×8 мм
										li 
											span Влагозащита
											span Да, HZO без полной герметизации. Уровень защиты IPX7
										li 
											span Материал экрана
											span Стекло
										li 
											span Количество градаций серого
											span 16
										li 
											span Цвет
											span Лазурный
										li 
											span Батарея
											span Li-Ion, 3,7 В, 1500 мАч, до 8000 страниц без подсветки
										li 
											span Процессор
											span 1 ГГц х 2 (двухъядерный)
										li 
											span Flash-память
											span 16 ГБ (объём памяти, доступной пользователю, зависит от конфигурации программного обеспечения вашего устройства)
						.product__back
							<svg xmlns="http://www.w3.org/2000/svg" width="10" height="9" viewBox="0 0 10 9">
								<path d="M4.636 7.062c.25.246.666.658.874.904.083.082.083.246 0 .37l-2.163 2.342h6.237c.416 0 .416.41.416.41v.823s0 .41-.416.41H3.347l2.163 2.344c.083.082.083.246 0 .37-.25.245-.666.657-.874.903-.083.083-.25.083-.374 0l-3.368-3.41s-.54-.535-.832-.864c-.083-.082-.083-.246 0-.37l.708-.698s2.744-2.794 3.492-3.534c.084-.083.25-.083.374 0z" transform="translate(-680.000000, -1545.000000) translate(310.000000, 1390.000000) translate(370.000000, 148.000000)"/>
							</svg>
							span назад
						.product__close
					//	/product
	//	/device

block js-libs
	script(src="js/libs/jquery.min.js")
	script(src="js/libs/jquery.matchHeight-min.js") 